fastapi
uvicorn
langchain
langchain-community
langchain-openai
openai
chromadb
streamlit
pydantic
jinja2
faiss-cpu
python-dotenv
icalendar
langchain-huggingface
sentence-transformers
torch==2.2.2
transformers==4.40.2
